<div class="row">
	<div class="large-3 columns">
		<div class="sidebar">
			<h3>Flashcards</h3>
			<ul class="side-nav">
			{{#each}}
				<li>{{#link-to 'flashcard' this.id }}
					{{description}}	
				{{/link-to}}</li>
			{{/each}}
				<li class="divider"></li>
				<li>
					{{#link-to 'flashcards.create'}}new{{/link-to}}
				</li>

			</ul>
		</div>
	</div>
	<div class="large-9 columns">
		{{outlet}}
	</div>
</div>