<div class="row">
	<div class="large-3 columns">
		<div class="sidebar">
			<h3>Problems</h3>
			<ul class="button-group radius round">
				<li>
					{{#link-to "flashcards.index" activeClass="selected" classNames="tiny button"}}ALL{{/link-to}}
				</li>

				<li>
					{{#link-to "flashcards.unsolved" activeClass="selected" classNames="tiny button"}}UNSOLVED{{/link-to}}
				</li>
			</ul>
			<ul class="side-nav">
			{{#each filteredFlashcards}}
				<li>
					{{#link-to 'flashcard' this.id }}
						{{description}}	
					{{/link-to}}
				</li>
			{{/each}}
				<li class="divider"></li>
				<li>
					{{#link-to 'flashcards.create'}}
						new
					{{/link-to}}
				</li>
			</ul>
		</div>
	</div>
	<div class="large-9 columns">
		{{outlet}}
	</div>
</div>